@import "../../vars.scss";


.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 8px;
    background: $tg-background;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: $tg-text-color;
}

.button {
    background: $tg-button-background;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    color: $tg-button-text-color;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}