@import "./vars.scss";


@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter !important;
  font-weight: 400;
}

body {
  background: $tg-background;
}

ul[role="listbox"],
ul[role="listbox"]>li {
  background: var(--tg-theme-secondary-bg-color, gray) !important;
  color: var(--tg-theme-text-color, white) !important;
  box-shadow: none !important;
  border: none !important;
  font-size: 14px !important;
}

ul[role="listbox"]>li[aria-selected="true"] {
  background: gray !important;
}